body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
	
}

a {
	text-decoration: none;
	color: black;
}

#header {
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	background-color: rgba(183, 116, 64, 0.49);
	background-image: url("salchi_cartoon.png");
}

#header h1 {
	font-size: 2.25rem;
	line-height: 2.25rem;
	background-color: rgba(214,217,255, 1);
	border: 2px solid black;
	width: 27.5%;
	margin: auto;
	padding: 0.75rem 1rem;
}

#header nav {
	padding-top: 0.5rem;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

#header a {
	padding: 0.25rem 4rem;
	color: black;
	
	border: 2px solid black;
	font-size: 1.5rem;
}

.nav-link {
	background-color: rgba(214,217,255, 0.8);
}

.nav-link:hover {
	background-color: rgb(230,230,230)
}

.active-link {
	background-color: white;
}



#home-main {
	display: flex;
	margin-bottom: 0;

}

#info {
	width: 80%;
	box-sizing: border-box;
	padding: 0.8 0.8 0.5 0.8rem;
	font-size: 1.35rem;
	background-color: rgb(230,230,230);
	margin-bottom: 0;
	border-right: 2px solid black;
}

#info img {

	width: 25%;
	float: right;
	border: ridge 10px brown;
	margin: 0.5rem;



}

#info p {
	padding: 0 0.4rem;
}

#facts {
	width: 20%;
	box-sizing: border-box;
	background-image: url("pawprints.jpg");
	padding: 0.25rem;	
}

#facts h3 {
	text-align: center;
	font-size: 1.75rem;
	border-bottom: 2px solid black;
	max-width: 60%;
	margin: auto;
	;
}

#facts ul {
	font-size: 1.3rem;
	text-align: center;
	padding: 0.5rem;
	list-style: none;

}

#facts ul li {
	margin: 1rem 0;


}

#footer {
	height: 12.5vh;
	margin: 0;
	width: 100%;
	background-color: rgba(183, 116, 64, 0.49);
}

#footer ul {
	display: flex;
	justify-content: center;
	margin: 0;
	list-style: none;
	padding: 0.25rem;
}

#footer ul li {
	display: flex;

	text-align: center;
	padding: 0.5rem;


}

#footer ul li a {
	color: blue;
	padding: 0rem 2rem;
	border: 2px solid black;
	font-size: 1rem;
	line-height: 0.5rem;
	color: white;
	background-color: #B77440;
}

#footer ul li a:hover {
	background-color: #984200;
}

#footer ul li img {
	width: 7.5%;
	margin-right: 1rem;
}

#wiki-link {
	color: blue;
}

#wiki-link:hover {
	text-decoration: underline;
}



/* history main */
#history-main {
	display: flex;
}

#my-homes-sidebar {
	width: 20%;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0.5rem;
	background-image: url(pawprints.jpg);
}

.home-img {
	width: 50%;
	margin: auto;
	border: 2px solid black;
}

#my-homes-sidebar h3 {
	font-size: 1.5rem;
	margin: 0.2rem 0;
	background-color: rgb(230,230,230);
	border: 2px solid black;
}

.home-info h4 {
	font-size: 1.25rem;
	padding-bottom: 0.1rem;
	width: 50%;
	margin: auto;
	margin-bottom: 1rem;
	border-bottom: 1px solid black;
}

#about-me {
	padding: 1rem;
	background-color: rgb(230,230,230);
	width: 80%;
	border-left: 2px solid black;
}

.about-me-img {
	width: 30%;
	border: 2px solid black;
}

#aboutImg-top {
	float: right;
	margin: 0.5rem;
	width: 20%;
}

#history-first-row h2 {
	font-size: 1.8rem;
	line-height: 1rem;
}

#history-first-row p {
	font-size: 1.35rem;

}

#history-second-row {
	display: flex;
	
}

#history-second-row p {
	font-size: 1.25rem;
	width: 40%;
	text-align: left;
	margin: 0 1rem;
}

#aboutImg-bottom1 {
	margin-right: 2rem;
	width: 35%;
	height: auto;
}

#aboutImg-bottom2 {
	margin-left: 0rem;
	width: 30%;
	
}



/* gallery */
#gallery {
	background-image: url("pawprints.jpg");
}

.gallery-row {
	display: flex;
	justify-content: space-around;
	text-align: center;
	font-size: 3rem;
	padding: 1rem 0.5rem;
	line-height: 6rem;
	
}

.gallery-row p {
	margin-top: 3rem;
}

#growing-up {
	border-right: 2px solid black;
	padding-right: 1rem;
}

#now {
	border-left: 2px solid black;
	padding-left: 1rem;
}



.gallery-image {
	width: 15%;
	border: 2px solid black;
}




@media (max-width: 600px) {
	#header {
		width: 100%;
	}

	#header h1 {
		padding-right: 1.75rem;
	}


	#header nav {
		flex-direction: column;
		width: 100%;
	}

	#header nav a {
		width: 100%;
		margin: auto ;
		margin-bottom: 0.1rem;
		box-sizing: border-box;

	}

	.nav-link {
		background-color: rgb(214,217,255);
	}
	.active-link {
		background-color: white;
	}

	#home-main {
		flex-direction: column;
	}	

	#info {
		width: 100%;
		border: none;
	}


	#facts {
		font-size: 0.9rem;
		display: flex;
		flex-direction: column;;
		width: 100%;
	}

	#facts h3 {
		font-size: 1.5rem;
		margin-top: 0.25rem;
	}

	#facts ul {
		display: flex;
		flex-direction: column;
	}

	#footer {
		padding: 1.25rem 0 ;
	}



	#footer ul li a {
		line-height: 1rem;

	}

	#footer ul li img {
		display: none;
	}




	#history-main {
		display: flex;
		flex-direction: column;

	}

	#my-homes-sidebar {
		width: 100%;
		padding: 0;


	}

	#my-homes-sidebar h3 {
		width: 50%;
		margin: auto;
		margin-top: 0.5rem;
		text-align: center;
		box-sizing: border-box;
	}

	#about-me {
		width: 100%;
		border: none;
		display: flex;
	}

	#aboutImg-top {
		width: 25%;

	}

	#history-first-row {
		display: flex;
		flex-direction: column;
		width: 100%;

	}

	#history-first-row img {
		width: 100%;
	}

	#history-second-row {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 100%;
		
	}

	#history-second-row p {
		text-align: center;
		width: 80%;
	}

	#history-second-row img {
		width: 50%;
		margin: auto;
	}

	/* gallery */
	#gallery {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#growing-up-row{
		display: flex;
		flex-direction: column;
		width: 100%;

	}

	#now-row {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;

	}
	

	#growing-up, #now {
		width: 80%;
		margin: auto;
		font-size: 3rem;
		border: none;
		border-bottom: 2px solid black;
	}

	.gallery-row img {
		width: 80%;
		margin: 1rem auto;
	}



}



